version: "3.8"

services:
  db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5431:5432"

  backend:
    image: textshare.azurecr.io/textshare-backend:latest
    container_name: node-backend
    environment:
      PORT: ${PORT}
      PASSWORD: ${PASSWORD}
      DB_USER: ${DB_USER}
      HOST: ${HOST}
      DATABASE: ${DATABASE}
      DB_PORT: ${DB_PORT}
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
